Flask==3.0.3
Flask-Cors==4.0.0

openai==0.28.1
python-dotenv==1.0.1

Pillow==10.4.0
opencv-python-headless==4.10.0.84
numpy==1.26.4

requests==2.32.3

concurrent-log-handler==0.9.24

futures==3.0.5 ; python_version<"3.9"

pydantic>=2.0.0
gunicorn==22.0.0  # production WSGI server
